@-ms-viewport {
  width: device-width;
}

body {
  margin: 0px;
  padding: 0px;
}

nav {
  color: black;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: white;
}

li {
  padding-left: 25px;
  padding-right: 25px;
}

.basic {
  height: 500px;
  background-color: brown;
}

.explore {
  text-align: center;
}

.explore-tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.explore-col {
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 115px;
  border: 1px solid black;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  /* margin-top: 35px; */
  margin: 30px 35px;
}

.hover-tab:hover {
  cursor: pointer;
}

.credit-card {
  display: flex;
  height: 500px;
  margin-top: 100px;
}

.credit-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.right-border {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  background-color: blue;
  color: white;
}

.extra-small {
  font-size: small;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  background-color: #e5efff;
}

.footers {
  height: 300px;
  margin-top: 35px;
  background-color: blue;
  color: white;
}

.sign-hover:hover {
  cursor: pointer;
}

.icon-right {
  float: right;
}

.button {
  display: inline-flex;
  height: 40px;
  padding: 0;
  outline: none;
  overflow: hidden;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.button__text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 65px;
  height: 100%;
}

.button__icon {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 24px;
  height: 100%;
  margin-right: -15px;
  margin-left: 25px;
}

.big-title {
  font-size: 350%;
}

.learn-more-button {
  background-color: blue;
  color: white;
  border: 2px solid white;
  transition-duration: 0.3s;
}

.learn-more-button:hover {
  font-weight: bolder;
}

.get-started {
  background-color: rgb(69, 210, 69);
  color: white;
  border: none;
  border-radius: 4px;
  transition-duration: 0.3s;
}

.get-started:hover {
  font-weight: bolder;
  background-color: rgb(23, 180, 23);
}

.button-text {
  padding-left: 20px;
  padding-right: 20px;
}

.chat-with-us {
  background-color: white;
  font-weight: bold;
  color: blue;
  border: none;
  border-radius: 4px;
  transition-duration: 0.3s;
}

.chat-with-us:hover {
  font-weight: 900;
  background-color: blue;
  color: white;
  border: 2px solid white;
}